/* Color Theme Swatches in Hex */
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-1-hex { color: #FFBC67; }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-2-hex { color: #DA727E; }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-3-hex { color: #AC6C82; }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-4-hex { color: #685C79; }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-5-hex { color: #455C7B; }

/* Color Theme Swatches in RGBA */
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-1-rgba { color: rgba(255, 188, 103, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-2-rgba { color: rgba(218, 114, 126, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-3-rgba { color: rgba(172, 107, 130, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-4-rgba { color: rgba(103, 91, 121, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-5-rgba { color: rgba(68, 91, 123, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-1-hsla { color: hsla(33, 100, 70, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-2-hsla { color: hsla(353, 58, 65, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-3-hsla { color: hsla(339, 27, 54, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-4-hsla { color: hsla(264, 13, 41, 1); }
.Copy-of-Kopie-von-Kopie-von-Copie-de-QB-Studio-website-Project-3-5-hsla { color: hsla(214, 28, 37, 1); }